<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>ifn701.safeguarder.backend.MyEndpoint,
                ifn701.safeguarder.backend.webservices.AccidentEndpoint,
                ifn701.safeguarder.backend.webservices.Login,
                ifn701.safeguarder.backend.webservices.UserSettingsEndpoint,
                ifn701.safeguarder.backend.webservices.Signup,
                ifn701.safeguarder.backend.webservices.image_uploader.UploadLinkProvider,
                ifn701.safeguarder.backend.webservices.UserEndpoint
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.webservices.image_uploader.UploadImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.HelloWorldController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <!-- Auto upload events-->
    <servlet>
        <servlet-name>GoToAutoLoadEventsPage</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.auto_upload_events.GoToAutoLoadEventsPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoToAutoLoadEventsPage</servlet-name>
        <url-pattern>/autoloadevents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReceiveUploadFiles</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.auto_upload_events.RecieveUploadFilesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceiveUploadFiles</servlet-name>
        <url-pattern>/receiveUploadFiles</url-pattern>
    </servlet-mapping>
    <!-- End Auto upload events-->
    <servlet>
	    <servlet-name>ViewMapController</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.ViewMapController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewMapController</servlet-name>
        <url-pattern>/viewmap</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.AuthenticationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>ifn701.safeguarder.backend.controllers.LogoutController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>ifn701.safeguarder.backend.controllers.filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <!--<welcome-file>index.html</welcome-file>-->
        <welcome-file>WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>