.map-container {
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 70px;
}

.alert-heading {
    color: darkorange;
}

.active_fence {
    background-color: #D1EDC7;
}

#active-tag {
    color: gray;
}