<script src="/resources/jquery-1.11.3.min.js"></script>
<script src="/resources/bootstrap/js/bootstrap.min.js"></script>
<script type= "text/javascript" src="js?sensor=false&libraries=drawing&dummy=.js"></script>
<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/resources/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/resources/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>